
/* O fundo da página deve ter uma cor suave.  */
body{background-color: darkgray;}



/* O título (<h1>) deve ter uma cor diferente e estar centralizado.  */
.titulo {text-align: center;}
h1.titulo{color: blue; font-size: 50px;}


/* O parágrafo (<p>) deve ter um tamanho de fonte maior e ser justificado. */
p{background-color: darkgray;
    font-size: 30px;
    text-align: justify;  
}

/* A lista (<ul>) deve ter um espaçamento maior entre os itens. */
.item{
   border: 3px solid darkgray;
   width: 100px;
   margin: 10px;
}

/* A imagem (<img>) deve ter bordas arredondadas e um tamanho adequado.  */
.imagem{
  border-radius: 10px;
}

/* A tabela(<table>) deve estar estilizada. */
.brasil {
  color: darkgreen;
    width: 100px;          
    border-radius: 15px;   
    border: 2px solid #ccc; 
  }
  .Argentina {
    color: deepskyblue;
    width: 100px;          
    border-radius: 15px;   
    border: 2px solid #ccc; 
  }
  .Estádos {
    width: 100px;          
    border-radius: 15px;   
    border: 2px solid #ccc; 
  }


  /* O link (<a>) deve mudar de cor quando o usuário passar o mouse sobre ele.  */
  .link:active{
   background-color: crimson;
  }
  .link:hover{
    background-color: blueviolet;
  }
